:root{
--fundo-principal-quizz: #666;
}


body {
    background-color: var(--fundo-principal-quizz);
}

nav {
    margin-bottom: 5px;
}

main article h1 {
    text-align: center;
}

main {
    color: white;
}