:root{
--fundo-principal-quizz: #666;
}


body {
    background-color: var(--fundo-principal-quizz);
}

nav {
    margin-bottom: 5px;
}

main article h1 {
    text-align: center; 
}

main article ul {
    list-style-type: none;
}

main article ul li p{
    padding-left: 10px;
}

main {
    color: white;
}

.Questao {
    border: 1px solid #222;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}