body {
    background-image: url('.//Images/bg.jpg');
}
#devs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
} 

#devs img {
    flex-direction: row;
    border: transparent;
    border-radius: 400px;
    border: solid  4px, #868686;
    box-shadow: 8px 6px 20px;
    color: rgb(221, 221, 221);
    position: relative;
}

#devs h5 {
    margin-bottom: 10px;
    color: rgb(223, 223, 223);
}

.textR {
    list-style: none;
    margin: 5;
    padding: 5px;
    text-align: center;
    display: block;
    background: linear-gradient(60deg, #7a7a7a, #3b3b3b);
    border: solid , #868686;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow:  8px 6px 20px;
    color: rgb(223, 223, 223);
}
.textN {
    position: relative;
    left: 35px;
}
.textW {
    position: relative;
    left: 35px;
}
.textF {
    position: relative;
    left: 80px;
}
.textG {
    position: relative;
    left: 80px;
}