:root {
    --background-image: url('.//Images/bg.jpg');
    --border-color: #868686;
    --text-color: rgb(223, 223, 223);
    --shadow-color: rgba(255, 255, 255, 0.86);
    --box-shadow: 4px 3px 10px var(--shadow-color);
    --gradient-start: #7a7a7a;
    --gradient-end: #3b3b3b;
}

body {
    background-image: var(--background-image);
}

#carouselDevs {
    max-width: 540px;
    max-height: 590px;
    margin: auto;
}

.carousel-item img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border: 5px solid #a9a9a9;
    box-shadow: var(--box-shadow);
    border-radius: 130px;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 100%;
    padding: 0;
    text-align: center;
    transform: translateX(-50%);
}

.carousel-caption::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    width: 483px;
    height: 100px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 500px 500px;
    transform: translateX(-50%);
    z-index: -1;
}

.carousel-control-prev,
.carousel-control-next {
    top: 0%;
    transform: translateY(170px);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    color: black;
    font-size: 4rem;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon::before {
    content: '\2039';
    color: black;
}

.carousel-control-next-icon::before {
    content: '\203A';
    color: black;
}

.carousel-inner {
    position: relative;
    bottom: -180px;
}
